label {
  font-weight: bold;
}
.registration {
  text-align: center;
}

#myForm {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  border: 2px solid black;
  padding: 5vh 0 5vh 0;
}

#sex {
  border: none;
}
.error {
  color: red;
  background-color: #ecc9ee;
}

@media only screen and (max-width: 768px) {
  input,
  label {
    width: 8vw;
  }
  #myForm {
    padding: 10vh 0 10vh 0;
  }
}
@media only screen and (max-width: 600px) {
  input,
  label {
    width: 8vw;
  }
  #myForm {
    padding: 10vh 0 10vh 0;
  }
}
