* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}
.grid-container {
  display: grid;
}
.square {
  border: 1px solid black;
}
.valid {
  background-color: green;
}
.checked {
  background-color: aqua;
  color: black;
}
