* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
  background: url("photo/hogwart.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.grid-container {
  display: grid;
  justify-content: center;
  margin-top: 15em;
}
.square {
  border: 1px solid black;
}
.valid {
  background-color: green;
}
.checked {
  background-color: aqua;
  color: black;
}
.resetBtn {
  display: none;
}
