@import url('https://fonts.cdnfonts.com/css/marine-corps');
* {
    font-family: 'Marine Corps', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #edeede;
}
h1 {
    display: flex;
    justify-content: center;
    color: #302f2f;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
.boardContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    cursor:
        url('ViewFinder.png') 10 10,
        auto;
}
.gridCell {
    width: 30px;
    height: 30px;
    border: 1px solid #535353;
}
.destroyer-preview {
    width: 3em;
    height: 5vh;
    margin-right: 10px;
    border-radius: 0.25em;
}
.destroyer {
    background-color: #262166;
}
.submarine-preview {
    width: 4em;
    height: 5vh;
    margin-right: 10px;
    border-radius: 0.25em;
}
.submarine {
    background-color: #0a5b43;
}
.cruiser-preview {
    width: 4em;
    height: 5vh;
    margin-right: 10px;
    border-radius: 0.25em;
}
.cruiser {
    background-color: #1a547e;
}
.battleship-preview {
    width: 6em;
    height: 5vh;
    margin-right: 10px;
    border-radius: 0.25em;
}
.battleship {
    background-color: #652525;
}
.carrier-preview {
    width: 7em;
    height: 5vh;
    margin-right: 10px;
    border-radius: 0.25em;
}
.carrier {
    background-color: #302f2f;
}
.shadow {
    background-color: grey;
    opacity: 0.7;
}
#shipSectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#shipSection {
    border: 1.5px solid #535353;
    display: flex;
    flex-direction: row;
    width: 50vw;
    align-items: center;
    justify-content: center;
}
.buttonSection {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn,
#shipSection {
    padding: 1em 1em;
    margin-bottom: 1em;
    cursor: pointer;
    box-shadow: 3px 3px #535353;
    border-radius: 3px;
}
#shipSection {
    height: 100px;
}
.buttonSection,
#shipSection,
.boardContainer,
h1 {
    margin: 0.75em 0;
}
.invisible {
    display: none;
}
.boom {
    transform: transition;
    background-color: #17171a;
    width: 30px;
    height: 30px;
    background-size: cover;
    animation: boomAnimation 0.8s ease-in;
}
.restartBtn {
    color: #063a2b;
    border: 1px solid #063a2b;
    padding: 0.5em;
    box-shadow: 3px 3px #063a2b;
    border-radius: 3px;
    margin-top: 0.75em;
}
.modal {
    position: absolute;
    top: 35%;
    left: 25%;
    z-index: 1;
    height: 200px;
    width: 200px;
    padding: 2em;
    text-align: center;
    border: 1px solid #652525;
    box-shadow: 3px 3px #652525;
    border-radius: 3px;
    color: #652525;
}
@keyframes boomAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
<<<<<<< HEAD
=======
@media only screen and (min-width: 500px) {
    .modalStart {
        left: 30%;
    }
}
@media only screen and (min-width: 600px) {
    .modalStart {
        left: 35%;
    }
}
>>>>>>> e2a23b4890034573ca94164789d6dd543cf5bc91
@media only screen and (min-width: 700px) {
    .boardContainer {
        width: 300px;
        height: 300px;
        margin: 2em;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .gridCell {
        width: 30px;
        height: 30px;
    }
    .modal {
        left: 30%;
        top: 30%;
        height: 250px;
        width: 250px;
        padding-top: 3em;
    }
    .restartBtn {
        margin-top: 2em;
    }
}
