body {
  background-color: #ffeaea;
}
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 0fr);
  gap: 0px;
}
.square {
  display: block;
  width: 30vh;
  height: 30vh;
  border: 2px solid grey;
  background-color: #f5c6ec;
}
