@font-face {
    font-family: 'Star_jedi';
    src: url('soloist-Z6M8.otf');
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Star_jedi';
    -webkit-text-stroke: 0.5px #FFE81F;
    color: black;
    background-color: black;
}
#container {
    margin-top: 4em;
    display: grid;
    margin-left: 10em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    width: 50%;
}
.character {
    margin: 0 auto;
    text-align: center;
    transform: perspective(500px) rotateX(25deg);
    font-size: 1rem;
    /*animation: crawl 60s linear;*/
}
.character_name {
    font-size: 2.4rem;
    width: 10em;
    text-align: center;
}
@keyframes crawl {
    0% {
        transform: translateY(100%) perspective(600px) rotateX(25deg);
    }
    100% {
        transform: translateY(-100%) perspective(600px) rotateX(25deg);
    }
}