body {
  margin: 0;
  box-sizing: border-box;
}
img.images {
  width: 100%;
  max-width: 1920px;
}
#min_gallery {
  display: flex;
  position: fixed;
  border: 5px solid violet;
  bottom: 5px;
  right: 5px;
  width: 79vh;
  overflow-x: scroll;
}
img.scrollable {
  height: 100%;
  width: 100%;
}
.min_imgs {
  width: 200px;
  flex: 0 0 auto;
  overflow: hidden;
  padding: 0;
  box-shadow: 10px 10px 5px violet;
}
