* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gameBoard {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
}
.grid-cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.shipContainer {
  display: flex;
  border: 1px solid grey;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding-top: 90px;
}
.rotateBtn {
  padding: 0.5em 1em;
}
.destroyer {
  background-color: #8c7ae6;
}
.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
}
.submarine {
  background-color: green;
}
.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}
.cruiser {
  background-color: purple;
}
.cruiser-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}
.battleship {
  background-color: orange;
}
.battleship-preview {
  width: 40px;
  height: 10px;
  margin: 3px;
}
.carrier {
  background-color: blue;
}
.carrier-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
}
